h1 {
    font-size: 50px;
}

h2 {
    font-size: 44px;
    line-height: 44px;
    color: #0033c5;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 27px;
    line-height: 36px;
    font-weight: 400;
}

h5 {
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
}

button {
    width: 210px;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-weight: 600;

    &.light-blue {
        color: white;
        background-color: #00a8ff;
    }
}