.blog-post {
    .kg-image {
        margin: 0 auto;
        display: block;
    }

    iframe {
        width: 100%;
        max-width: 800px;
        height: 480px;
        margin: 40px auto;
        display: block;
    }

    figure.kg-gallery-card {
        margin: 0;

        .kg-gallery-row {
            display: flex;
            flex-flow: row nowrap;
            width: 100%;
    
            .kg-gallery-image {
                flex: auto;
                height: 350px;
                min-width: 150px;
                margin: 0 8px 8px 0; /* Some gutter */
    
                &:nth-child(4n+1) {
                    width: 550px;
                }
    
                &:nth-child(4n+1):nth-child(4n+2) {
                    width: 325px;
                }
    
                &:nth-child(4n+1):nth-child(4n+3) {
                    width: 280px;
                }
    
                &:nth-child(4n+1):nth-child(4n+4) {
                    width: 380px;
                }
    
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        figcaption {
            text-align: center;
            color: #8a8a8a;
            font-size: 11pt;
            margin: 10px 0;
        }
    }
}

@media screen and (max-width: $breakpoint-med) {
    .blog-post {
        figure.kg-gallery-card {
            .kg-gallery-row {
                flex-flow: column;

                .kg-gallery-image {
                    margin: 8px auto !important;
                    width: 100% !important;
                    max-width: 500px !important;
                }
            }
        }
    }
}