.form-group {
    margin-bottom: 18px;

    label {
        display: block;
        font-size: 11pt;
        font-weight: 400;

        &.form-check-label {
            margin-left: 28px;
        }
    }

    input {
        width: 100%;
        font-size: 10pt;
        border-radius: 4px;
        padding: 9px;
        border: 2px solid #dcdfe6;

        &.form-check-input {
            position: absolute;
            width: inherit;
        }
        
        &:focus, &:active {
            outline: 0;
            border-color: #409eff;
        }
    }

    textarea {
        width: 100%;
        font-size: 10pt;
        border-radius: 4px;
        padding: 9px;
        border: 2px solid #dcdfe6;

        &:focus, &:active {
            outline: 0;
            border-color: #409eff;
        }
    }

    select {
        width: 100%;
        font-size: 10pt;
        border-radius: 4px;
        padding: 9px;
        border: 2px solid #dcdfe6;
        height: 36px;
        background: #fff;
    }

    .form-check {
        margin: 10px 0px;
    }
}

.hyperlink {
    color: #000;
    font-weight: 600;
    position: relative;
    text-decoration: none;
    z-index: 0;
    transition: background .2s linear;
    box-shadow: inset 0 -3px 0 0 rgba(0, 168, 255, .3);


    &:hover {
        background: #ffc73e;
    }

    &.light {
        color: #fff;
    }
}