h1 {
    font-size: 2em;
    line-height: 2em;
    color: #12304d;
}

h2 {
    font-size: 2em;
    line-height: 1.5em;
    color: #12304d;
}

h3 {
    font-size: 1.5em;
    line-height: 2em;
    color: #12304d;
}

h4 {
    font-size: 1.5em;
    line-height: 1.5em;
    color: #12304d;
}

h5 {
    font-size: 1.25em;
    line-height: 1.5em;
    color: #12304d;
}

h6 {
    font-size: 1em;
    line-height: 1.5em;
    color: #12304d;
}

p {
    font-size: 1em;
    font-family: $nunito-family;
    color: #12304d;
}

button {
    width: 184px;
    height: 41px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-weight: 700;
    text-align: center;
    font-family: 'Merriweather', 'Georgia', serif;
    font-size: 10.5pt;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button.blue {
    background-color: #00679b;
    color: white;

    &:hover {
        background: #ddd;
        color: #12304d;
    }
}

button.red {
    background-color: #e93d2f;
    color: white;

    &:hover {
        background: #ddd;
        color: #12304d;
    }
}

button.light {
    background-color: white;
    color: #0033C5;
    border: 1px solid #E0AD2B;

    &:hover {
        background: #ddd;
        color: #12304d;
    }
}

button.teal {
    background-color: #00679b;
    color: white;

    &:hover {
        background: #ddd;
        color: #12304d;
    }
}

button.lightTeal {
    border: 1px solid #00679b;
    background-color: white;
    color: #00679b;

    &:hover {
        background: #ddd;
        color: #12304d;
    }
}

button.green {
    background-color: #008b67;
    color: white;

    &:hover {
        background: #ddd;
        color: #12304d;
    }
}