h1 {
    font-size: 2em;
    line-height: 2em;
    color: #12304d;
}

h2 {
    font-size: 2em;
    line-height: 1.5em;
    color: #12304d;
}

h3 {
    font-size: 1.5em;
    line-height: 2em;
    color: #12304d;
}

h4 {
    font-size: 1.5em;
    line-height: 1.5em;
    color: #12304d;
}

h5 {
    font-size: 1.25em;
    line-height: 1.5em;
    color: #12304d;
}

h6 {
    font-size: 1em;
    line-height: 1.5em;
    color: #12304d;
}

p {
    font-size: 1em;
    font-family: $nunito-family;
    color: #12304d;
}

button {
    width: 184px;
    height: 41px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-decoration: underline;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
    font-family: Poppins;
    font-size: 10.5pt;
    border: none;
}

button.blue {
    background-color: #0033C5;
    color: white;
}

button.light {
    background-color: white;
    color: #0033C5;
    border: 1px solid #E0AD2B;
}

button.teal {
    background-color: #00679b;
    color: white;
}

button.lightTeal {
    border: 1px solid #00A8FF;
    background-color: white;
    color: #00A8FF;
}