@import './fonts';
@import './vars';
@import './grid';
@import './button';
@import './form';

html {
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.plyr--video {
    border-radius: 20px;
}

@media screen and (max-width: $breakpoint-small) {
    .button {
        display: block;
        margin-bottom: 10px;
        margin-right: 0;
    }
}

.new-badge {
    background: #0033c5;
    border-radius: 5px;
    padding: 2px 7px;
    font-size: 8pt;
    color: #fff;
    margin-right: 6px;
    font-weight: bold;
}