/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;vertical-align:baseline;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}
img { border-width:0; }
:focus { outline:none; } 
/* end reset */

body { 
	font-size:1em;
	line-height:1.5em;
	font-family: Arial, Helvetica, sans-serif; 
	color:#444; 
	background:#fff;	
}
a { 
	color:#0088cc; 
} 
a:hover { 
	color:#e26100; 
}
h1, h2, h3, h4, h5, h6 { 
	margin:0 0 1em 0;
	color:#444; 
}
h1 {
	font-size:2em;
	line-height:1.5em;
	letter-spacing:-1px;
	margin-bottom:1em;
	color:#333;
}
h2 {
	font-size:2em;
	line-height:2em;
}
h3 {
	font-size:1.5em;
	line-height:1.5em;
}
h4 {
	font-size:1.5em;
	line-height:2em;
}
h5 {
	font-size:1.25em;
	line-height:1.5em;
}
h6 {
	font-size:1em;
	line-height:1.5em;
}
p { 
	margin:0 0 1em 0; 
}
/*
ol, ul { 
	padding:1px 0 5px 13px;
	margin:0 0 5px 13px;
}
ol li, ul li {
	margin:0 0 5px 0; 
}
ol ol, ul ul { 
	padding:10px 0 5px 13px;
	margin:0 0 5px 13px;
}
*/
blockquote {
	margin:0 0 1em 2em;
}
hr { 
	border:0;
	color:#e1e3e5;
	background-color:#e1e3e5;
	height:1px;
	width:100%;
	text-align:left;
	padding:0;
	margin:25px 0 25px 0;
}
select, input, textarea { 
	font-size:1em;
	font-family:Arial, Helvetica, sans-serif;
}
.clear {
	clear:both;
}


/* form elements */
.button {
	border:none;
	background:url(../images/bnt_bg.png) repeat-x;
	text-align:center;
	font-weight:bold;
	color:#fff;
	text-shadow:0 -1px 0 #c87321;
	cursor:pointer;
	border-top:1px solid #f28400;
	border-bottom:1px solid #ea5000;
	border-left:1px solid #ed6200;
	border-right:1px solid #ed6200;
	border-radius:4px; -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px;
	max-width:100%;
	height:38px;
	font-size:1em;
	padding:0 1em 0 1em;
}
.button, x:-moz-any-link, x:default { padding:0 1em 0 1em; }

.button1 {
    border:none;
	background:url(../images/btn1.png) no-repeat;
	text-align:center;
	font-weight:bold;
	color:#fff;
	text-shadow:0 -1px 0 #c87321;
	cursor:pointer;
	width:249px;
	height:50px;
	font-size:25px;
	padding:0 0 1px 0;
	letter-spacing:-0.4px;
}
.button1, x:-moz-any-link, x:default { padding:0 0 3px 0; }
input.inp-txt,
select,
textarea {
	color:#999;
	background:#fff;
	border:1px solid #b8b6b2;
	border-radius:4px; -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px;	
	-moz-box-shadow: inset 0 1px 2px #eee; -webkit-box-shadow: inset 0 1px 2px #eee; box-shadow: inset 0 1px 2px #eee;	
		-webkit-transition: border-color .1s ease-in-out;
		-moz-transition:  border-color .1s ease-in-out;
		-o-transition:  border-color .1s ease-in-out;
		-ms-transition:  border-color .1s ease-in-out;
		transition:  border-color .1s ease-in-out;		
	height:1.5em;
	padding:2px 2px 2px 2px;
	font-size:1em;
}
input.inp-txt:focus,
select:hover,
select:focus,
select { padding:2px 2px 2px 1px; height:2em; }
textarea:focus { border-color:#777; color:#555; }
/*textarea { height:auto; }*/
select.error,
textarea.error,
input.inp-txt.error {
	border-color:#e92d28;
	background:#ffded6;
	color:#e92d28;
}
input.inp-checkbox { margin:2px 2px 0 2px; position:relative; }
/* checkbox */
.jNiceCheckbox {
	background:transparent url(../images/checkbox.png) no-repeat center top;
	height:15px;
	width:15px;
	position:absolute;left:0;top:0;z-index:2;
	cursor:pointer;
}
.jNiceChecked { background-position: center bottom;}

.jNiceHidden {z-index:-1;position:relative;-moz-opacity:0.0; opacity:.0; filter:alpha(opacity=0);}
.jNiceWrapper {position:relative;vertical-align:top;float:left;}
.jNiceWrapper input {outline:none;moz-outline:none;}
/* END form elements */


.main-container {
	width:100%;
	height:auto;
	overflow:hidden;
}
.wrapper{
	width:100%;
	margin:0 auto;
}

/* HEADER */
.header-box {
	position:relative;	
}
.hd-logo {
	background:#e3eaef url(../images/header_bg3.png) repeat-x;
	text-align:center;
	margin-top: 10px;
	background-attachment:fixed;
}
.hd-logo img {
	margin-bottom:2px;
	width:98%;
	max-width:205px;
	margin:0 1% 0 1%;
}
.hd-logo a {
	text-decoration:none;
	font-size:1em;
	line-height:1.2em;
}
.hd-logo a b {
	display:block;
	font-weight:normal;
	color:#5c5d60;
}
.hd-logo a:hover b {
	color:#5c5d60;	
}
.hd-logo b {
	display:block;
	font-weight:normal;
	color:#5c5d60;
}
.hd-logo:hover b {
	color:#5c5d60;	
}
.hd-logo-a img {
	max-height:37px;
}
.hd-logo-a b{
	font-size:0.8em;
	position:relative;
	top:-7px;
}
.hd-logo-a a{
	text-decoration:none;
}
.hd-ribbon {
	background:url(../images/ribbon.png) no-repeat; 
	color:#fff;
	text-shadow:0 -1px 0 #c87321;
	text-transform:uppercase;
	text-align:center;
	float:right;
	background-size:100%;
	padding:23px 7px 0 7px;
	font-size:16px;
	line-height:18px;	
	max-width:136px;
}
.hd-ribbon small {
	display:block;
	font-size:11px;
	line-height:13px;
	margin-bottom:3px;
}
.hd-ribbon span {
	display:block;
	font-size:16px;
	line-height:18px;
	margin-bottom:3px;
}
.hd-ribbon b {
	display:block;
	font-size:19px;
	line-height:21px;
	margin-bottom:3px;
}
.hd-labels {
	float:left;
	max-width:210px;
}
.hd-labels-pl { background:url(../images/top_labels_pl.png) no-repeat; background-size:100%; }
.hd-labels-en { background:url(../images/top_labels_en.png) no-repeat; background-size:100%; }
.hd-labels-sw { background:url(../images/top_labels_sw.png) no-repeat; background-size:100%; }
.menu {
	text-align:center;
	clear:both;
	cursor:hand;
	cursor:pointer;
}
ul.top-nav {
	list-style:none;
	overflow:hidden;
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	position:absolute;
	z-index:500;
	display:none;
}
ul.top-nav a, .menu {
	text-decoration:none;
}
ul.top-nav .current a, .menu {
	color:#f38900;
}
ul.top-nav .current a:hover, .menu:hover {
	color:#e26100;
}
ul.top-nav li {
	font-size:1.2em;
	text-align:center;
	background: #ffffff;
}
ul.top-nav li, .menu {
	font-weight:bold;
	padding:0.4em 0 0.4em 0;
	background: url(../images/header_bg4.png) repeat-x;
	/*background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 80%, #ffffff 80%, #ebf0f3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(80%,#ffffff), color-stop(80%,#ffffff), 					color-stop(100%,#ebf0f3));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 80%,#ffffff 80%,#ebf0f3 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 80%,#ffffff 80%,#ebf0f3 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 80%,#ffffff 80%,#ebf0f3 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 80%,#ffffff 80%,#ebf0f3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebf0f3',GradientType=0 );*/

}

/* CONTENT */

.home-content-container {
	background:url(../images/cnt_bg.jpg) repeat-x;
	padding:10px;
}
.content-container {
	background:url(../images/cnt_bg_in.png) repeat-x 50% 0;
	padding:10px;
	color:#666;
}
.content-container h1 {
	margin-bottom:28px;
	padding:0 0 12px 0;
	border-bottom:2px solid #d5dadd;
}
.content-container .jak h1 {
	font-size:2em;
}
.content-container .jak h2 {
	font-size:1.5em;
	line-height:1.5em;
}
.content-container .jak .img-box, .content-container .jak .img-box img {
	width:100%;
}
.content-container .jak .image1 {
	max-width:501px;
}
.content-container .jak .image2 {
	max-width:581px;
}
.content-container .jak .image3 {
	max-width:481px;
}
.content-container .jak .image4 {
	max-width:545px;
}
.interior-right-box {
	margin-top:2em;
}

.img-box {
	padding:10px 0;
}

.help-right-box {
	margin-top:1em;
}
.help-left-box h2 {
	font-size:22px;
	line-height:25px;
	font-weight:normal;
	margin-bottom:12px;
}
.help-right-box ul {
	padding:0;
	margin:0 0 20px 0;
	list-style:none;
}
.help-right-box ul li {
	padding:0;
	margin:0 0 10px 0;
	line-height:18px;
}
.help-right-box ul a {
	text-decoration:none;
}

.ask {
	margin:0 0 0 -3px;
	padding:0 0 0 65px;
	min-height:60px;
	background:url(../images/icon_ask.png) no-repeat 0 2px;
	font-size:22px;
	line-height:27px;	
	color:#333;
}
.ask a {
	text-decoration:none;
}


.contact-right-box {
	margin:1em auto 1em auto;
}

.contact-form {
	position:relative;
	margin-bottom:1em;
	padding:1em;
	background:#fff;
	border-radius:6px; -moz-border-radius:6px; -khtml-border-radius:6px; -webkit-border-radius:6px;
	box-shadow: 0 1px 2px rgba(31,32,33,0.3);
	-moz-box-shadow: 0 1px 2px rgba(31,32,33,0.3);
	-webkit-box-shadow: 0 1px 2px rgba(31,32,33,0.3);
}
:root .contact-form { 
	box-shadow: 0 1px 4px rgba(31,32,33,0.3) \0/IE9;
}
.contact-form .field-box {
	margin-bottom:1em;
}
.contact-form .field-box label {
	display:block;
	font-size:1em;
	line-height:1.2em;
	color:#444;
	padding:0 0 3px 0;
}
.contact-form .field-box .inp-txt {
	width:99%;
}
.contact-form .field-box textarea {
	width:99%;
	height:90px;
	min-height:90px;
	resize:vertical;
}
.contact-form .field-box select {
	width:100%;
}



.side-nav {
	margin-top:7px;
	position:relative;
	padding:13px 0;
	background:#fff;
	border-radius:6px; -moz-border-radius:6px; -khtml-border-radius:6px; -webkit-border-radius:6px;
	-moz-box-shadow: 0 1px 2px rgba(31,32,33,0.3);
	-webkit-box-shadow: 0 1px 2px rgba(31,32,33,0.3);
	box-shadow: 0 1px 2px rgba(31,32,33,0.3);	
}
:root .side-nav { 
	box-shadow: 0 1px 4px rgba(31,32,33,0.3) \0/IE9;
}
.side-nav ul {
	padding:0;
	margin:0;
	list-style:none;
	position:relative;
}
.side-nav ul li {
	padding:0;
	margin:0;
	line-height:18px;
	border-bottom:1px solid #e1e3e5;
	position:relative;
}
.side-nav ul a {
	text-decoration:none;
	display:block;
	padding:7px 25px 8px 15px;
}
.side-nav ul li.last {
	border-color:#fff;
}
.side-nav ul .current {
	border-bottom:1px solid #f38a01;
	margin-top:-1px;
}
.side-nav ul .current a {
	background:#f38a01 url(../images/left_nav_arrow.gif) no-repeat 100% 50%;
	color:#fff;
	padding:8px 25px 8px 15px;
}


.articles-item {
	padding-bottom:8px;
	margin-bottom:20px;
	border-bottom:1px solid #e1e3e5;
}
.articles-item h2 {
	font-size:22px;
	line-height:25px;
	font-weight:normal;
	margin-bottom:12px;
}
.articles-item h2 a {
	text-decoration:none;
}

.paginator {
	font-size:16px;
	line-height:20px;
	padding-top:5px;
}
.paginator b,
.paginator a {
	margin:0 3px;
	padding:0 3px;
	text-decoration:none;
}
.paginator .prev,
.paginator .next {
	font-size:22px;
}
.paginator span.prev,
.paginator span.next {
	color:#b2b5b6;
}
.paginator .prev {
	margin:0 4px 0 0;
	padding:0 4px 0 0;
}
.paginator .next {
	margin:0 0 0 4px;
	padding:0 0 0 4px;
}
.promo-text {
	color:#fff;
	text-shadow:0 1px 0 #195889;
	margin-bottom:1em;
	position:relative;
}
.promo-text h1 {
	color:#fff;
}
.promo-text p {
	font-size:1.2em;
	line-height:1.5em;
}
.promo-text .shadow-line {
	background:url(../images/shadow_line.png) no-repeat;
}
.services-logos {
	text-align:center;
}
.services-logos h3 {
	color:#333;
	font-size:1.2em;
	line-height:1.5em;
	font-weight:normal;
	text-shadow:0 -1px 0 #cde1f2;
	margin-bottom:2em;
	text-align:left;
}
.services-logos img {
	width:100%;
	max-width:560px;
}


.bottom-container {
	background:#ffffff url(../images/mid_bg.jpg) 50% 0 repeat-x;
	padding:10px;
}
.quotes blockquote {
	background:url(../images/quotes.png) no-repeat;
	margin:0 0 19px 0;
	padding:1px 0 0 22px;
}
.quotes blockquote p {
	font-style:italic;
	margin-bottom:0.5em;
}
.quotes blockquote small {
	color:#888;
	font-size:12px;
	line-height:16px;
}
.quotes h2 {
	font-weight:1.3em;
	line-height:1.3em;
	margin-bottom:0.5em;
}
.reasons {
	font-size:16px;
	line-height:20px;
}
.reasons h2 {
	margin-bottom:19px;
}
.reasons h2 span {
	display:block;
	font-weight:normal;
	font-size:22px;
	line-height:25px;
	padding-top:3px;
}
.reasons ul {
	list-style:none;
	padding:1px 0 0 0;
	margin:0;
}
.reasons ul li {
	padding:0 0 0 22px;
	margin:0 0 15px 0;
	background:url(../images/bullet_v.gif) no-repeat 0 2px;
}

/* FORM */
.main-form,
.form-box,
div.error {
	border-radius:6px; 
	-moz-border-radius:6px; 
	-khtml-border-radius:6px; 
	-webkit-border-radius:6px;	
}
.main-form {
	position:relative;
	margin-top:1em;
	background-color: rgb(31,32,33);
	-moz-box-shadow: 0 1px 4px rgba(31,32,33,0.5);
	-webkit-box-shadow: 0 1px 4px rgba(31,32,33,0.5);
	box-shadow: 0 1px 4px rgba(31,32,33,0.5);
}
.form-box {
	background:#fff;
	position:relative;
}
.form-box h2 {
	padding:0.2em 1em 0.2em 1em;
	margin:0;
	font-weight:normal;
	font-size:1.75em;
}
.form-content {
	background:#fff4cf url(../images/form_bg_top.jpg) no-repeat;
	padding:1em 1em 1em 1em;
	font-size:1em;
	line-height:1.25em;
	color:#86847f;
	border-radius:0 0 6px 6px; 
	-moz-border-radius:0 0 6px 6px; 
	-khtml-border-radius:0 0 6px 6px; 
	-webkit-border-radius:0 0 6px 6px;		
}
.form-content b {
	color:#444;
}
.form-content table {
	width:100%;
}
.form-content table td {
	vertical-align:top;
	font-size:1em;
	line-height:1.25em;
}
.form-content td.field {
	width:100%;
}
.form-content td.field input.inp-txt,
.form-content td.field textarea {
	width:100%;
}
.form-content td.field textarea {
	resize:none;
	height:4em;
	margin-bottom:6px;
}
.form-content td.field-full input.inp-txt,
.form-content td.field-full textarea
{
	width:100%;
}
.form-content td.field-full input.required.defaultInvalidUrl.url
{
	margin-bottom:0.5em;
}
.form-content td.field-full textarea {
	resize:vertical;
	height:4em;
	min-height:2em;
	max-height:5em;
	margin-bottom:6px;
}
.form-content td.label {
	padding:6px 10px 10px 0;
	white-space:nowrap;
	width:85px;
}
.form-content td.field-full div.label {
	margin-bottom:4px;
}
.form-content td.fields-group {
	padding:9px 0 13px 0;
}
.form-content .btn-box {
	text-align:center;
	padding:10px 0 13px 0;
}
div.error {
	color:#e92d28;
	background:#fff;
	border:1px solid #e92d28;
	margin:0 0 14px 0;
	padding:10px;
}
div.error div {
	line-height:15px;
	padding:0 0 3px 0;
}
.form-content .paymethods {
	text-align:center;
	position:relative;
}
.form-content .paymethods a {
	color:#86847f;
}
.form-content .paymethods a:hover {
	color:#444;
}
.form-content .check-field {
	color:#333;
	margin-bottom:15px;
}
.form-content .check-field input {
	float:left;
	margin:0 9px 0 0;
}
:root .form-content .check-field input { margin:0 4px 0 0 \0/IE9; }
.form-content .check-field label {
	float:left;
	display:block;
	width:90%;
}

#paymethodsbox {
	width:470px;
	height:auto;
	text-align:center;
	padding:10px;
}
#paymethodsbox img {
	margin:0 5px 5px 5px;
}


.clients {
	clear: both;
	margin-bottom:1em;
	margin-top:2em;
}
.clients h4 {
	font-size:1.2em;
	line-height:1.2em;
}



.clientstop {
	clear: both;
	margin:20px auto 20px auto;
	text-align:center;
}
.clientstop h4 {
	margin-bottom:22px;
}


/* Slider */
.slider
{
	margin:20px auto auto auto;
}
.slider ul {
	float:left;
	list-style-type:none;
	width:170px;
	height:65px;
	margin:0px;
	position:relative;
	overflow:hidden;
}
.slider ul li {
	position:absolute;
	margin:0; padding:0;
}
.slider .prev, .slider .next {
	float:left;
	width:35px; height:35px;
	background-image:url(../images/slider_arrows.gif);
	background-repeat:no-repeat;
	cursor:pointer;
	-moz-opacity:0.5; opacity:.5; filter:alpha(opacity=50);
	margin-top:15px;
}
.slider .prev {
	background-position: 0 0;
}
.slider .next {
	background-position: -45px 0;
}
.slider .prev:hover,
.slider .next:hover {
	-moz-opacity:0.7; opacity:.7; filter:alpha(opacity=70);
}
.slider .prev:active,
.slider .next:active {
	-moz-opacity:0.9; opacity:.9; filter:alpha(opacity=90);
}
/* END Slider */

/* FOOTER */
/* FOOTER */
.footer {
	color:#949393;	
	background:#ffffff url(../images/footer_bg.png) repeat-x;
	font-size:0.85em;
	line-height:1.2em;
	padding:1em;
}
.footer h6 {
	color:#666;
	margin-bottom:0.5em;
}
.footer p {
	margin-bottom:0.5em;	
}
.operator {
	padding:0.5em 0 0.5em 0;
}
.operator p {
	margin-bottom:0.25em;
}
.operator p small {
	color:#999;
	font-size:0.75em;
}
.operator .wm-logo {
	margin:0 auto;
	text-align:center;
}
.operator .wm-address {
	background:url(../images/hd_address.gif) no-repeat;	
	clear:both;
	display:block;
	width:100%;
}
.operator a {
	text-decoration:none;
}
.ftr-right-column {
	margin-top:1.5em;
}
.ftr-links {
	list-style:none;
	padding:0;
	margin:0;
	text-align:right;	
}
.ftr-links b {
	margin-right:0.5em;
}
.ftr-links li {
	text-align:right;
	padding:0;
	margin:0 0 0.8em 0;
}
.ftr-links li h6,
.ftr-links li ul,
.ftr-links li ul li {
	list-style:none;
	float:none;
	font-size:1em;
	line-height:1.5em;
	text-align:right;
	display:inline;
	padding:0;
	margin:0;
}
.ftr-links li ul li a {
	display:inline-block;
	padding: 0 0.25em 0 0.25em;
	border-left:1px solid #cacacb;
	font-size:1em;
	line-height:1em;
}
.ftr-links h6 {
	color:#949393;
}
.ftr-links li ul li:first-child a {
	border:none;
}
.wm-logo-a {
	display:none;
}




/**** Clearfix ****/
.clearfix:before,
.clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }
.clearfix { zoom:1; }


/*new*/
.coupon {
	padding-top:1em;
	margin-bottom:1.5em;
}
.coupon h2, .coupon h3
{
	font-size:1.3em;
	line-height:1.5em;
	text-align:center;
}
.coupon img {
	display:block;
	margin:0 auto;
	text-align:center;
}
.compare {
	margin-bottom:2em;
}
.compare h2 {
	margin-bottom:1em;
	font-size:1.5em;
	line-height:1.5em;
	text-align:center;
}
.compare .c-scroll {
	display:block;
	max-width:100%;
	overflow-x:scroll;
}
.compare table {
	width:100%;
}
.compare th {
	color:#777;
	font-weight:normal;
	border-bottom:2px solid #e6e7e7;
	font-size:0.8em;
	line-height:1.2em;
	text-align:center;
	vertical-align:middle;
	word-wrap:break-word;
	padding:auto 4px auto 4px;
}
.compare td {
	color:#888;
	text-align:center;
	vertical-align:middle;
	padding:0.5em 0.5em;
	border-bottom:1px solid #e6e7e7;
	font-size:0.8em;
	line-height:1.2em;
	vertical-align:middle;
	word-wrap:break-word;
}
.compare td.row1 {
	text-align:left;
	padding-left:0;
}
.compare .text-line td {
	vertical-align:top;
}
.compare .row-green {
	color:#444;
	background:#e8ffcf;	
	border-color:#d2e7bd;
}
.compare th.row-green {
	font-weight:bold;
}
.compare .row-grey {
	background:#f3f4f4;	
	border-color:#dcddde;
}

.terms {text-align: center;}
.terms a {cursor:pointer;color:#86847f;text-decoration: underline;}
.terms a:hover {color:#444;}
.display_none {display:none;}

.objectsList img {cursor: pointer;}
