h1 {
    font-size: 58px;
}

h2 {
    font-size: 44px;
    line-height: 44px;
    color: #0033c5;
}

h3 {
    font-size: 58px;
}

h4 {
    font-size: 27px;
    line-height: 31px;
    font-weight: 400;
}

h5 {
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
}

button {
    width: 210px;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;

    &.light-blue {
        color: white;
        background-color: #00a8ff;

        &:hover {
            color: #00a8ff;
            background-color: white;
            border: 1px solid #00a8ff;
        }
    }

    &.blue {
        color: white;
        background-color: #0033c5;

        &:hover {
            color: #0033c5;
            background-color: white;
            border: 1px solid #0033c5;
        }

        &:focus {
            color: #0033c5;
            background-color: rgb(187, 187, 187);
            border: 1px solid #0033c5;
        }
    }

    &.white {
        &:hover {
            color: white;
            background-color: rgb(56, 56, 56);
        }

        &:focus {
            color: white;
            background-color: rgb(29, 29, 29);
        }
    }

    &.black {
        &:hover {
            color: #383838;
            background-color: white;
            border: 1px solid #383838;
        }
    }
}